@using Asaal.Resources

@model Asaal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = ViewsKeys.forgotYourPassword;
}

<div class="forgotPassword accountForm">
    <div class="container">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
            <div class="formHead">
                <hr />
                <h3>@ViewsKeys.forgotYourPassword</h3>
            </div>

            <div class="form-group">
                <p>
                    @ViewsKeys.forgotPasswordInfoMsg
                </p>
            </div>

            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = ViewsKeys.email })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-default siteBtn">@ViewsKeys.sendEmail</button>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}