@using Asaal.Resources

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    &copy; @DateTime.Now.Year - <b>@ViewsKeys.appName</b>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    @ViewsKeys.developedWith <i class="glyphicon glyphicon-heart"></i> @ViewsKeys.by
                    <a href="https://linkedin.com/in/farouk4web" target="_blank">@ViewsKeys.developerName</a>
                </p>
            </div>
        </div>
    </div>
</footer>
